*{
    margin: 0;
    padding: 0;
}

body{
    background-image: url('./assets/header/header_afbeelding.jpg');
    background-repeat: no-repeat;
}

.navbar{
    width: 100%;
    height: 150px;
    background-color: #797979;
}

.kop{
    width: 100%;
    height: 100px;
    background-color: white;
}

.navbar_koop{
    margin: 10px 20px 0px 20px;
}

.navbar_onderkant{
  flex-direction: row;
}

.seach{
    width: 70px;
    height: 20px;
    border: 1px white solid;
}
