*{
    margin: 0;
    padding: 0;
}

body{
    background-image: url('../assets/header/header_achterground.png');
    background-repeat: no-repeat;
    background-attachment:fixed;
    background-color: black;
    width: 100%;
    font-family: lato;
}

.navbar{
    width: 100%;
    height: 200px;
    background-color: #666666;
}

#logo{
    width: 225px;
    height: 90px;
    margin: 15px 0 0 10%;
}

.kop{
    width: 100%;
    height: 125px;
    background-color: white;
    color: #666666;
}

.kop_tekst{
    text-align: center;
    display: flex;
    justify-content: flex-end;
}

.kop1{
    margin: -55px 2% 0 0px;
}

.kop2{
    margin: -55px 2% 0 0px;
}

.kop3{
    margin: -55px 6% 0 0px;
}

.navbar_onderkant{
    display: flex;
    justify-content: start;
    
}

.navbar_koop{
    margin: 20px 0% 0px 4%;
    color: white;
}

.seach{
    width: 200px;
    height: 40px;
    margin: 15px 2% 0px 2%;
    background-color: #C9C9C9;
    color: white;
}

.tekst_seach{
    margin: 10px 0 0 8px;
}

.bekijktickets{
    width: 180px;
    height: 30px;
    margin: 20px 2% 0px 2%;
    background-color: white;
}

.teks_bekijktickets{
    text-align: center;
    color: #666666;
    text-align: center;
    padding-top: 6px;
}

/** dit was de navbar */

.header{
    width: 78%;
    height: 300px;
    background-color: black;
    margin: 60px 0 0 10%;
}

h1{
    color: white;
    padding: 25px 0 0 3%;
    font-size: 52px;
}

.header_tekst{
    padding: 30px 0 0 3%;
    color: white;
}

.header_button{
    width: 250px;
    height: 50px;
    background-color: white;
    margin: 50px 0 0 3%;
}

.header_knoptekst{
    text-align: center;
    padding-top: 15px;
    font-weight: 700;
    font-size: 15px;
}

/** header staat hier boven */

.vestigingen{
    margin: 60px 0 0 10%;
    display: flex;
    flex-wrap: wrap;
}

.vestiging1{
    width: 28.2%;
    height: 320px;
    margin: 0 1% 20px 0;
    background-color: white;
}

.aanbevolen_films_title{
    color: white;
    font-size: 52px;
    margin: 80px 0 0 10%;
}

.aanbevolen_films_div{
    width: 78%;
    height: 500px;
    margin: 30px 0 0 10%;
    display: flex;
}

.aanbevolen_films{
    width: 16%;
    height: 500px;
    margin: 0 1% 0 0;
    background-color: white;
}

/** einde aanvevolen films */

#footer{
    width: 100%;
    height: 350px;
    margin-top: 120px;
    background-color: #666666;
    display: flex;
}

.footer_div1{
    margin:  0 0 0 10%;
    width: 450px;
    height: 250px;
}

.footer_div2{
    width: 257px;
    height: 250px;
}

.logo_footer{
    width: 225px;
    height: 90px;
    margin: 20px 0 0 0%;
    color: white;
}

.footer_tekstcontainer{
    height: 120px;
    width: 350px;
    margin: 20px 0 0 0%;
}

.footer_tekst{
    color: white;
}

.leestmeer{
    height: 25px;
    width: 110px;
    margin: 5px 0 0 0%;
    text-align: center;
    padding-top: 6px;
    background-color: white;
    color: #666666;
}

.navigeer_tekst{
    padding: 75px 0 25px 0;
    color: white;
}

.list_item{
    padding: 5px 0 0 0;
    list-style-type: none;
    color: white;
}

.volg_ons{
    color: white;
    padding: 75px 0 0 0;
}

.footer_div3{
    width: 450px;
    height: 250px;
}

.icons{
    width: 250px;
    height: 100px;
    margin-top: 20px;
    /* border: 1px solid white; */
    display: flex;
}

.footer_icon{
    width: 40px;
    height: 40px;
    padding: 5px 1% 0 2%;
    font-size: 28px;
    color: white;
}







/* einde footer */

.voorwaarden{
    width: 100%;
    height: 40px;
    color: white;
    background-color: black;
}
.laatsetekst{
    margin: 0px 0 0 10%;
}

